<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
        <context:component-scan base-package="org.example"/>
<!--            通过构造器注入属性-->
<!--        <bean class="org.example.bean.Demo" id = "demo2">-->
<!--                <constructor-arg name="name" value="xxx"/>-->
<!--                <constructor-arg age = "age" value="19"/>-->
<!--        </bean>-->

<!--        通过set方法注入属性-->
<!--        <bean class="org.example.bean.Demo" id = "demo2">-->
<!--                <property name="name" value="xxx"/>-->
<!--                <property name="age" value="19"/>-->
<!--        </bean>-->
</beans>